.form {
  margin-bottom: 30px;
}

.toolbar {
  margin-bottom: 30px;
}

.noRecords {
  text-align: center;
  color: gray;
  font-size: 16px;
  margin: 30px 0;
}

.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
